
#bg-video { 
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    filter: brightness(80%);
}

body{ 
    margin:0;
    font-family: "Arial Rounded MT Bold", "Trebuchet MS", sans-serif;
}


header { 
    background-color:rgba(231, 0, 10); 

}

.logo { 
    margin-left: 30px; 
}

.color { 
    background-image: url(img/header.png);
    padding:25px; 
    text-align: center;
}

a { 
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px; 
    transition: 0.3s;
    color:white;

} 

a:hover { 
    background-color: rgb(15, 137, 72);
    border-radius: 20px; 
}


#music-btn { 
    padding: 8px 15px;
    background: transparent;
    color: #FFCF4F;
    cursor: pointer;
    transition: 0.3s;
    border:none;
    font-size: 20px;
    font-family: "Arial Rounded MT Bold", "Trebuchet MS", sans-serif;
}

#music-btn:hover{ 
    background-color: rgb(15, 137, 72);
    border-radius: 20px; 
}

.center-img {
    display: block;
    margin: 0 auto;
    margin-top:100px; 
}


.intro { 
    position: relative; 
    font-size: 20px; 
    margin-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 1.2s ease-out forwards;
    animation-delay: 0.5s;
    width: 100%;   
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-box { 
    max-width: 700px;
    width: 80%;
    font-size: 18px;
    line-height: 1.6;
    background-image: url(img/dot.png);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
    margin: 0;
    position: relative;
    z-index: 1;
    padding:50px; 
    border-radius: 20px;
}

.intro-box h2 { 
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Arial Rounded MT Bold", "Trebuchet MS", sans-serif;
}

.intro-box p {
    margin: 0;
}

.side-img1 { 
    position: absolute;
    left: 200px;      
    transform: translateY(0%);
    width: 175px;
    z-index: 2;
}

.side-img {
    position: absolute;
    right: 130px;    
    top: 50%;        
    transform: translateY(-50%);
    width: 290px;
    z-index: 2;
}

.news { 
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 80px;
    flex-wrap: wrap;
    position:relative;  
}

#redd {
    position: absolute;
    right: 130px;
    top: 230%;
    transform: translateY(-50%);
    z-index: 10;
}

.news div {
    background: rgba(255, 255, 255, 0.9);
    width: 280px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: rgb(91, 37, 12); 
    border: 10px solid transparent; 
}

.news1:hover {
   text-decoration: underline;
   border:10px rgb(236, 189, 103) solid; 
   border-radius: 20px;
   transform: translateY(-5px);
}

.news2:hover{
   text-decoration: underline;
   border:10px #008077 solid; 
   border-radius: 20px;
   transform: translateY(-5px);
}

.news3:hover{
   text-decoration: underline;
   border:10px rgba(156, 215, 174)solid; 
   border-radius: 20px;
   transform: translateY(-5px);
}

.btn1,.btn2,.btn3 { 
    margin:20px;
    border-radius: 10px;
    background-color:rgb(246, 65, 65); 
    color: white;
    font-size:15px; 
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
    background-color: rgb(200, 40, 40); /* red hover */
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
}

.container { 
    padding:2rem;
    margin-bottom: 100px;

}

.slider-wrapper { 
    position:relative; 
    max-width: 48rem; 
    margin-top: 50px;

}

.slider{ 
    display:flex; 
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    border: 10px solid white; 
}

.slider img { 
    flex:1 0 100%;
    scroll-snap-align:start;
    object-fit: cover;
}

.slider-nav { 
    display:flex; 
    column-gap:1rem; 
    position:absolute;
    bottom: 1.25em;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
}

.slider-nav a { 
    width:0.1px; 
    height:5px;
    border-radius: 50%;
    background-color: #fff;
    opacity:0.75;
    transition: opacity ease 250ms; 
}

h3 { 
    margin-top: 100px;
    color: white;
    padding: 25px 40px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;       
    font-size: 40px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    background: rgb(211, 12, 12); 
}


.showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
    position: relative;

}

.desc {
    max-width: 300px;
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.6;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    border:10px rgba(153, 194, 180, 0.599) solid;
    backdrop-filter: blur(4px);
}

.video { 
    display:flex; 
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap:20px; 
    margin-top:70px; 
}


.desc {
    text-align: center;
}

.desc a { 
    margin:20px;
    border-radius: 10px;
    background-color:#FFCF4F;
    color: white;
    font-size:15px;
}

.desc a:hover{ 
    background-color:#dea70e;
}

#kk {
    position: absolute;
    left: 20px;   
    top: 70%;
    transform: translateY(-50%);
    z-index: 10;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 50px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom:100px;
    margin-top:50px;  
} 

.grid img {
    width: 500px;
    height: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

#img8 { 
    border:10px #008077 solid; 
}

#img9 { 
    border: 10px white solid; 
}

#img10 { 
    border: 10px #fdd76c solid;
}

#img11 { 
    border:10px #e86f52 solid;
}

footer{ 
    background-color: rgba(231, 0, 10);  
    color: rgb(255, 255, 255); 
    text-align: center;
    padding:5px;
    font-size: 15px;
}
